<h1>Remove User</h1>
<form action="/Home/RemoveUser" method="post">
    <label for=" user">Enter Username To Delete</label>
    <input name="userName" id="user" />
    <button type="submit">Submit</button>
</form>