<a class="btn btn-primary m-3" asp-action="AddProduct">Add Product</a>
<a class="btn btn-primary m-3" asp-action="AddCategory">Add Category</a>
<a class="btn btn-primary m-3" asp-action="AddCategoryDetail">Add Category Detail</a>
<a class="btn btn-primary m-3" asp-action="AddCompany">Add Company</a>
<a class="btn btn-primary m-3" asp-action="GetProduct">Get Product</a>