@foreach (var v in Model)
{

    <table>
        <tr>
            <th>
                v
            </th>
            <th>
                v
            </th>
            <th>
                v
            </th>
        </tr>
    </table>
}